
@font-face {
  font-family: 'Founders Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FoundersGroteskMono.woff') format('woff');
}

@font-face {
  font-family: 'Founders Mono Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/FoundersGroteskMono-Light.woff') format('woff');
}

@font-face {
  font-family: 'Suisse Intl Thin';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/SuisseIntl-Light.woff') format('woff');
}

@font-face {
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SuisseIntl-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Suisse Intl Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SuisseIntl-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Noe Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NoeText-Book.woff') format('woff');
}

@font-face {
  font-family: 'Noe Text';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NoeText-Bold.woff') format('woff');
}
