// Typography

// Fonts
$font-sans = 'Suisse Intl Regular',Arial,Helvetica,sans-serif
$font-sans-light = 'Suisse Intl Thin',Arial,Helvetica,sans-serif
$font-sans-bold = "Suisse Intl Bold", Arial, sans-serif
$font-serif = 'Noe Text',serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = 'Founders Mono', Lucida Console, monspace


