// Typography

// Fonts
$font-sans = 'F Grotesk',Arial,Helvetica,sans-serif
$font-sans-light = 'F Grotesk Thin',Arial,Helvetica,sans-serif
$font-sans-bold = "F Grotesk Bold", Arial, sans-serif
$font-serif = 'Noe Text',serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = 'Founders Mono', Lucida Console, monspace


